<div class="site-wrap">


  <header
    class="header-bar d-flex d-lg-block
      align-items-center
      aos-init aos-animate"
      data-aos="fade-left">

    <div class="main-menu">
      <ul class="">
        <li class="active"><a href="#">all posts</a></li>
        <li><a href="#">photos</a></li>
        <li><a href="#">videos</a></li>
        <li><a href="#">people</a></li>
        <li><a href="#">groups</a></li>
        <li><a href="#">channels</a></li>
        <li><a href="#">live</a></li>
        </ul>
    </div>

  </header>


  <div class="main-content">

    <div class="container-fluid photos">

      <div class="row align-items-stretch my-4 p-2">

        <div class="col-6 col-md-6 col-lg-8  aos-init aos-animate p-1" data-aos="fade-up">
          <a href="#" class="d-block photo-item">
          <img src="../../assets//img/explore_imgs/img_4.jpg" alt="Image" class="img-fluid">

          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
          </a>

        </div>

        <div class="col-6 col-md-6 col-lg-4  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item">
          <img src="../../assets//img/explore_imgs/img_5.jpg" alt="Image" class="img-fluid">

            <div class="photo-text-more">
              <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-3  aos-init aos-animate p-1" data-aos="fade-up">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_1.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_2.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-3  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="300">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_3.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_6.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_7.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_8.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_9.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_10.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-3  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_1.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_2.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-3  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_3.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-8  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_4.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4  aos-init aos-animate p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_5.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6 aos-init  p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_6.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6 aos-init  p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_7.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4 aos-init  p-1" data-aos="fade-up" data-aos-delay="">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_8.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

        <div class="col-6 col-md-6 col-lg-8 aos-init  p-1" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="d-block photo-item">
        <img src="../../assets//img/explore_imgs/img_9.jpg" alt="Image" class="img-fluid">
        <div class="photo-text-more">
        <div class="photo-text-more">
        <h3 class="heading">Photos Title Here</h3>
        <span class="meta">42 Photos</span>
        </div>
        </div>
        </a>
        </div>

      </div>

    </div>

  </div>


</div>
